/* Font family */
/* @import url(); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.points-container {
  display: flex;
  justify-content: space-between;
}

.point {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0e9f6e;
  border-radius: 5px;
  transition: width 0.5s linear;
  /* Use ease-in-out for smoother animation */
}

.active-point {
  width: 30px;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  transition: width 0s ease-in-out;
  /* Use ease-in-out for smoother animation */
}

/* Custom CSS to hide the arrows */
.slick-prev,
.slick-next {
  display: none !important;
}

.slick-slider,
.slick-track,
.slick-slide>div {
  height: 100% !important;
}

.slick-list {
  height: 100%;
}

.glass-overlay {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
  margin: -20px;
}

.btn-thm:before,
.btn-transparent2:before,
.btn-transparent:before,
.btn-white:before,
.ud-btn:before {
  background-color: #5bbb7b;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
  transform: skew(50deg);
  transition: width .6s;
  transform-origin: top left;
  transition: all .4s ease;
}

.btn-thm:hover:before {
  background-color: #1f4b3f;
}

.btn-thm:hover:before,
.btn-transparent2:hover:before,
.btn-transparent:hover:before,
.btn-white:hover:before,
.ud-btn:hover:before {
  height: 100%;
  width: 200%;
}

.home-menu-parent:hover .home-menu,
.menu-active:hover .sub-menu {
  display: grid !important;
  width:  250px  !important;
  grid-template-columns: 250px !important;
}


/* .home-menu-parent .home-menu::before
.menu-active: .sub-menu::before {

} */